/* Delete space at page */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  color: white;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
}

/* Navigation Menu Copmlet*/
nav {
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: center;
  display: inline-flex;
  width: 100%;
}

.logo {
  height: 2.3rem;
  padding:0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  position: relative;
}

li a {
  display: inline-block;
  padding: 0.7rem 1rem;
  text-decoration: none;
}

div.dropdown {
  display: none;
  position: absolute;
  min-width: 120px;
}

a div.dropdown {
  padding: 0.8rem 1rem;
  display: inline-block;
  text-align: left;
}

li:hover div.dropdown {
  display: grid;
}

.up-buttons {
  padding-left: 15vmax;
  display: inline-block;
}

.menu {
  padding-left: 10vmax;
  display: inline-block;
}