/* Delete space at page */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Let space around of page */
html {
  margin: 1rem;
  box-sizing: border-box;
}

/* Background and text default color of page */
body {
  background-color: #002d62;
  color: aliceblue;
}

/* Text style */
header {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  color: yellow;
  font-size: 1.7rem;
}

p {
  text-align: justify;
  font-size: 1.2rem;
}

/* Form style */
fieldset {
  border: 5px solid yellowgreen;
  border-radius: 10px;
  margin-bottom: 2rem;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-family: "Shadows Into Light", cursive;
}

label {
  display: inline-flex;
  padding: 0.3rem;
}

/* Message Area*/

textarea {
  align-self: center;
  padding: 1rem;
  box-sizing: content-box;
  width: 70%;
}

/* Submit button*/
button:hover {
  color: whitesmoke;
  background-color: yellowgreen;
}

/* nav menu*/

label {
  align-self: center;
  padding: 1rem;
  box-sizing: content-box;
  width: 13%;
}

nav {
  border-bottom: 1px solid #a61f11;
  border-top: 1px solid #da0090;
  font-size: 1.2em;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline-block;
}
nav a {
  text-decoration: none;
  color: yellow;
  display: block;
  padding: 0.5rem 1rem;
}
nav a:hover {
  background-color: black;
  color: yellowgreen;
}
