/* Delete space at page */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  color: white;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Navigation Menu Copmlet*/
nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-bottom: 1rem;
}

.logo {
  height: 2.3rem;
  padding: 0;
}

.up-buttons {
  padding-left: 15vmax;
  display: inline-block;
  font-style: bold;
  font-size: 1.3rem;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  display: inline-block;
  padding: 0.7rem 1rem;
  text-decoration: none;
  color: white;
}

nav ul li ul {
  display: none;
  position: relative;
  min-width:7rem;
}

nav ul li:hover > ul {
  display: grid;
}
/* End Navigation Menu*/

/* I'm still working on this part :-) */

/* Section and Form */

.text-1 {
  width: 50%;
  float: left;
  height: max-content;
  opacity: 0.7;
  padding: 5rem;
}

.text-1 p {
  text-align: left;
}

/* Form */

fieldset {
  margin-bottom: -1rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  color: #24272b;
  background-color: white;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  font-family: "Shadows Into Light", cursive;
  color: #a61f11;
  background-color: white;
  text-align: center;
}

textarea {
  align-self: center;
  padding: 1rem;
  box-sizing: content-box;
  width: 70%;
}

label {
  display: inline-flex;
  padding: 0.3rem;
  box-sizing: content-box;
  width: 23%;
}

/* Submit button */
button {
  background-color: black;
  color: white;
  width: 13rem;
  cursor: pointer;
}

button:hover {
  color: black;
  background-color: white;
  font-style: bold;
}

/* Submit button position */
.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-top: 0.7rem;
}

.submit-button-2 {
  display: none;
}

/* End Section and Form */

.text-2 {
  background-color: white;
  color: black;
  margin-top: 3rem;
  float: inline-end;
  opacity: none;
}
.text-2 p {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

.text-2 a {
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0.3rem;
  cursor: pointer;
}

.signin-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin: 1rem;
}

.signin-button a {
  text-decoration: none;
  border: black solid 2px;
  border-radius: 33%;
  color: white;
  background-color: black;
  padding: 0.3rem;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* @media */
@media screen and (max-width: 768px) {
  .text-1 {
    width: 100%;
    height: max-content;
    padding: 0;
  }
  .text-1 p {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 430px) {
  form {
    display:none;
  }
  .submit-button-2 {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    padding-top: 0.7rem;
  }
}

