/* Delete space at page */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Let space around of page */
html {
  margin: 1rem;
}
/* Background and text default color of page */
body {
  background-color: #002d62;
  color: aliceblue;
}

/* Text style */
h1 {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  color:yellow;
}

p {
  text-align: justify;
}

/* Form style */
fieldset {
  border: 5px solid yellowgreen;
  border-radius: 10px;
  margin-bottom: 2rem;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-family: "Shadows Into Light", cursive;
}

label {
  display:inline-flex;
  padding: 0.3rem;
}

/* Message Area*/
textarea {
  align-self: center;
  height: 10rem;
  padding: 1rem;
}

button:hover {
  color: #7079d8;
  background-color: white;
}
