/* Delete space at page */
*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  color: white;
  background-color: black;
  box-sizing: border-box;
  width: 100%;
}

/* Navigation Menu Copmlet*/
nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-flex;
  width: 100%;
}

.logo {
  height: 2.3rem;
  padding: 0;
}

.up-buttons {
  padding-left: 15vmax;
  display: inline-block;
}

.menu {
  padding-left: 10vmax;
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  position: relative;
}

li a {
  display: inline-block;
  padding: 0.7rem 1rem;
  text-decoration: none;
  color: white;
}

ul .dropdown {
  display: none;
  position: absolute;
  min-width: 120px;
}

a .dropdown {
  padding: 0.8rem 1rem;
  display: inline-block;
  text-align: left;
}

li:hover .dropdown {
  display: grid;
}

/* Section */
.text-1 {
  width: 50%;
  float: left;
  height: max-content;
  opacity: 0.7;
  padding: 5rem;
}

.text-1 p {
  justify-content: center;
  flex-direction: column;
  text-align: left;
}







/* Form */

fieldset {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  color: #24272b;
  background-color: rgb(255, 255, 255);
  opacity: 1;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-top: 1.3rem;
  display: block;
  font-family: "Shadows Into Light", cursive;
  color: #a61f11;
}

/* Form */
textarea {
  align-self: center;
  padding: 1rem;
  box-sizing: content-box;
  width: 70%;
}

label {
  display: inline-flex;
  padding: 0.3rem;
  box-sizing: content-box;
  width: 23%;
}

/* Submit button */
button {
  background-color: #14FF01;
  width: 13rem;
  cursor: pointer;
}

button:hover {
  color: whitesmoke;
  background-color: black;
}

/* Submit button position */
.submit-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  padding-top: 0.7rem;
}

.submit-button-2 {
  display: none;
}







@media screen and (max-width: 768px) {
  .text-1 {
    width: 100%;
    height: max-content;
    padding: 0;
    }
  .text-1 p {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    }
  .forms {
    position: relative;
    margin: auto;
    float: none;
  }
}