/* Delete space at page */
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* Let space around of page */
html {
  margin: 1rem;
}
/* Background and text default color of page */
body {
  background-color: #002d62;
  color: aliceblue;
}

/* Text style */
h1 {
  text-align: center;
  font-family: "Shadows Into Light", cursive;
  color: yellow;
  font-size: 3rem;
}

p {
  text-align: justify;
  font-size: 1.2rem;
}

/* Form style */
fieldset {
  border: 5px solid yellowgreen;
  border-radius: 10px;
  margin-bottom: 2rem;
}

legend {
  font-size: 1.3rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  display: block;
  font-family: "Shadows Into Light", cursive;
}

label {
  display: inline-flex;
  padding: 0.3rem;
}

/* Message Area*/

textarea {
  align-self: center;
  padding: 1rem;
  box-sizing: content-box;
  width: 70%;
}

/* Submit button*/
button:hover {
  color: whitesmoke;
  background-color: yellowgreen;
}

/* nav menu*/
nav {
  color: aliceblue;
  font-size: 1.2em; 
}

label {
  align-self: center;
  padding: 1rem;
  box-sizing: content-box;
  width: 30%;
}